.avatar {
  display: flex;
  align-items: center;
}

.avatar-info {
  flex: 1 1 auto;
  max-width: 220px;
}

.avatar-initial {
  flex: 0 0 auto;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: $avatar-size/2;
  background: color(grey-600);
  color: color(white);
  align-items: center;
  display: flex;
  text-align: center;
  font-weight: type-weight(bold);
  justify-content: space-around;
  margin-right: $avatar-picture-margin;
}
