.card {
  border: $border-dark;
  background: color(white);
  border-radius: $border-radius;
  box-shadow: $card-shadow;
  padding: spacing(l);
  margin-bottom: spacing(l);
}
.card-title {
  display: flex;
  align-items: center;
  margin-bottom: spacing(l);
  h1 {
    flex: 1 1 auto
  }
  a {
    flex: 0 0 auto;
    margin-left: spacing(s);
  }
}
