$colors: (
  grey-100: #F4F7F9,
  grey-200: #DEE6EA,
  grey-300: #CCD9E0,
  grey-400: #90A6BC,
  grey-500: #576C82,
  grey-600: #2C3D4E,
  white: #fff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
