// Borders
$border-radius: 4px;
$border-light-color: color(grey-200);
$border-dark-color: color(grey-300);
$border-light: 1px solid color(grey-200);
$border-dark: 1px solid color(grey-300);

//Shadows
$card-shadow: 0 3px 5px 0 rgba(44,61,78,0.05);

//Inputs
$input-height: 32px;
$input-margin: spacing(l);
