@import 'styles/colors';
@import 'styles/spacing';
@import 'styles/typography';
@import 'styles/variables';
@import 'styles/mixins';

@import 'styles/button';
@import 'styles/input';
@import 'styles/card';
@import 'styles/avatar';

@import 'styles/idea-detail';
@import 'styles/comments';

* {
  box-sizing: border-box;
}

body {
  @include type(body);
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: color(grey-100);
}

#root {
  height: 100vh;
}

.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  display: flex;
  align-items: center;
  padding: 0 spacing(l);
  height: 60px;
  background-color: color(blue-nav);
  color: color(white);
  justify-content: space-between;
  h1, a {
    color: inherit;
  }
  .button {
    margin-left: spacing(m);
  }
}

.app-body {
  margin-top: 60px;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.button {
  margin: 5px 5px 5px 0px;
}
.app-body {
  padding: spacing(l);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.sign-in-card {
  width: 540px;
  margin: 0 auto;
}

table {
  width: 100%;
  border: $border-dark;
  background: color(white);
  border-collapse: collapse;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 4px;
  th, td {
    text-align: left;
    padding: spacing(s);
    &:first-child {
      padding-left: spacing(l);
    }
  }
  th {
    padding-top: spacing(m);
    padding-bottom: spacing(m);
    border-bottom: $border-light;
  }
  tr:hover td {
    background: color(grey-100);
  }
}

.legitcomments {
  background: white;
  // border: 1px solid color(grey-300);
  border-radius: 4px;
  margin-bottom: 8px;
  margin-top: 10px;
  padding: 5px;
}

.comment-header {
  color: #576C82;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.comment-body {
  border-radius: 4px;
  display: inline-block;
  background: #F4F7F9;
  padding: 10px;
  color: black;
  font-size: 14px;
}

.ideacomments {
  margin-bottom: 20px;
}

.googsloginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

// OLd styles
.component-draggable {
  cursor: pointer;
}

.navigation {
  position: absolute;
  top: 20px;
  right: 20px;
}

.frontpagemembers {
  display: inline;
}

.avatarwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.formnewidea {
  border: 1px black solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}

.formcontainer {
  position: absolute;
  left: 800px;
}

.memberlink {
  margin: 5px;
}

.ql-editor{
  min-height: 120px !important;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 4px;
}

#newidea .ql-editor {
  min-height: 300px !important;
}

.ql-toolbar {
  border-radius: 4px;
}

.ql-container {
  border-radius: 4px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}
