@import 'styles/colors';
@import 'styles/spacing';
@import 'styles/typography';
@import 'styles/variables';
@import 'styles/mixins';

@import 'styles/button';
@import 'styles/input';
@import 'styles/card';
@import 'styles/avatar';

@import 'styles/idea-detail';
@import 'styles/comments';

* {
  box-sizing: border-box;
}

body {
  @include type(body);
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: color(grey-100);
}

#root {
  height: 100vh;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 0 spacing(l);
  height: 60px;
  background-color: color(blue-nav);
  color: color(white);
}
.app-body {
  padding: spacing(l);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}







// OLd styles
.component-draggable {
  cursor: pointer;
}

.ideascard {
  border: 1px solid black;
  padding: 20px;
  width: 600px;
  height: 60vh;
  overflow: scroll;
}

.navigation {
  position: absolute;
  top: 20px;
  right: 20px;
}

.formnewidea {
  border: 1px black solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}

.formcontainer {
  position: absolute;
  left: 800px;
}
