@import 'styles/colors';
@import 'styles/spacing';
@import 'styles/typography';

body {
  @include type(body);
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: color(grey-100);
}

//This is just to test the scss implementation and should be removed
.signinbutton {
  margin-bottom: spacing(xl);
}
